@import 'base/reset.css';
@import 'base/base.css';
@import 'components/menu.css';
@import 'components/header.css';
@import 'components/navigation.css';
@import 'components/footer.css';


.content {
	display: flex;
	justify-content: space-between;
}

.picture {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
}