@import 'base/reset.css';
@import 'base/base.css';
@import 'components/menu.css';
@import 'components/header.css';
@import 'components/navigation.css';
@import 'components/footer.css';



.flexible-container {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
}

.flex-item-1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 32%;
}

.contact-heading,
.address-heading,
.opening-hours-heading {
	color: #f17060;
	font-size: 1.2rem;
	font-family: serif;
}

.contact-list,
.address-list,
.opening-hours-list {
	padding-left: 0;
	list-style-type: '';
}

.contact-list__item,
.address-list__item,
.opening-hours-list__item {
	color: #fff;
	font-family: serif;
	font-size: 1.125rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	border-bottom: 0.0625rem dashed #373532;
}

.contact-list__link {
	color: #f17060;
	text-underline-offset: 0.6ex;
	text-decoration-thickness: 0.1ex;
}