.footer {
	color: #787878;
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 10px 0 20px;
	background-color: #131313;
}

.footer-navigation {
	display: flex;
	padding-left: 0;
	margin-bottom: 0.5rem;
}

.footer-navigation-item {
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	text-transform: lowercase;
}

.footer-navigation-item:not(:first-child)::before {
	content: '•';
	color: #787367;
}

.footer-navigation-link {
	display: block;
	padding: 5px 10px;
	color: #787367;
	text-underline-offset: 0.6ex;
	text-decoration-thickness: 0.1ex;
	text-decoration-color: transparent;
}

.footer-navigation-link:hover {
	color: #f17060;
	text-decoration-color: currentColor;
}