.header {
	color: #fff;
	padding: 30px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
		url('../../images/rest.jpg');
}

.logo {
	width: 242px;
	height: 136px;
	margin: 60px auto;
}

.local-address,
.phone-address {
	margin: 0 auto;
	max-width: 400px;
	font-size: 1.25rem;
}

.phone-address::before,
.phone-address::after {
	content: '';
	width: 100px;
	height: 2px;
	display: inline-block;
	background-color: #fff;
	margin: 0 15px 3px 15px;
}